
<!DOCTYPE html>
<html lang='ja'>
    <head><meta charset='utf-8'>
        <title>Index</title>
        <style>
        </style>
        <!-- <link rel="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous"> -->
        <link href="<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=Patrick+Hand&display=swap" rel="stylesheet">
        <link rel="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        </head>
        <body class="container">
            <header>
                <h1 class="display-4"><%=title%></h1>
            </header>
            <div role="main">
                <p><%=content%></p>
               
            </div>
        </body>
</html>